<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>About Us</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
  <style>
    .navbar {
      background-color: rgba(114, 106, 106, 0.51) !important;
    }

    body {
      background-color: #272f5e;
      color: #fff;
    }

    .card {
      background-color: darkgrey;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    }

    .card-title {
      color: #ab3b3b;
      font-weight: bold;
      font-size: 24px;
    }
    .btn-primary:hover {
      background-color: #671b1b;
      color: white;

    }


  </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand btn btn-primary btn-lg" href="/" style="background-color: #9d1e1e;">Home</a>
  </div>
</nav>

<div class="container">
  <h1 class="mt-5 text-center text-white bg-secondary py-3">About Us</h1>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title text-center mb-0">Georgios Lypopoulos</h5>
          <p class="card-text text-center"><a href="mailto:cs04411@uoi.gr">cs04411@uoi.gr</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title text-center mb-0">Spyridon Tzallas</h5>
          <p class="card-text text-center"><a href="mailto:cs04502@uoi.gr">cs04502@uoi.gr</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title text-center mb-0">Christos Brentas</h5>
          <p class="card-text text-center"><a href="mailto:cs04442@uoi.gr">cs04442@uoi.gr</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>